@using PagedList.Mvc;
@using PagedList;
@model PagedList<QLBanSach.Models.SACH>

@helper Truncate(string input,int length) {
if(input.Length<length)
{
        @input
}
else
{
        @input.Substring(0,length)<text>...</text>
}
}

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("Thêm mới", "Add")
<table class="table" border="1">
    <tr>
        <th style="width:200px;">
            @Html.DisplayNameFor(model => model.First().TenSach)
        </th>
        <th style="width:100px;">
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th style="width:300px;">
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th style="width:120px;">
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th style="width:150px;">
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th style="width:120px;">
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th style="width:120px;">
            @Html.DisplayNameFor(model => model.First().CHUDE.TenChuDe)
        </th>
        <th style="width:10px;">
            @Html.DisplayNameFor(model => model.First().NHAXUATBAN.TenNXB)
        </th>
        <th style="width:200px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Truncate(item.MoTa,100)
               
            </td>
            <td>
                <img src="~/Assit/Images/Images/@Html.DisplayFor(modelItem=>item.AnhBia)" alt="Alternate Text" style="width:150px;height:250px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { maSach = item.MaSach }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSach }) |
                @Html.ActionLink("Xóa", "Delete", new { maSach = item.MaSach })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="menu">
    @Html.PagedListPager(Model, page => Url.Action("SachMoi", new { page = page }))
</div>
<style>
    .menu li {
        display: inline;
    }
</style>
